[package]
name = "layout-types"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
serde = { workspace = true }
thiserror = "2.0"

[dev-dependencies]
serde_json = "1.0"
